---
- name: Install Nginx
  hosts: web
  become: true
  gather_facts: true

  tasks:
    - name: Install Nginx on Target Node
      package:
        name: nginx
        state: present

    - name: Start Service
      service:
        name: nginx
        state: started
        enabled: yes

    - name: copy index file
      ansible.builtin.copy:
        src: ../nginx-artefacts/index.html
        dest: /usr/share/nginx/html/index.html

